footer {
  // ul
  ul{
    // li
    li{
      margin: 0px 30px 0px 0px;
      // a
      a{
        // img
        img{
          width: $social-media-icons;
        }
        // end img
      }
      // end a
    }
    // end li
  }
  // end ul
}


