@media (max-width: 1150px) {
  .container {
    width: 950px;
  }

}

@media(max-width: 1024px) {
  .container {
    width: 950px;
  }
}

@media(max-width: 915px) {
  body {
    background-position: left top;
    background-color: $color-quartenaria;
  }

  .container {
    width: 700px;
  }

  .row {
    flex-direction: column;
  }

  .sobre-web-design article {
    width: 100%;
  }

  .sobre-web-design figcaption img {
    margin: 50px 0;
  }

  header nav {
    margin: 30px 0
  }

  footer .row {
    justify-content: center;
    flex-direction: row;
  }

}

@media(max-width: 665px) {
  .container {
    width: 500px;
  }

  .sobre-web-design figcaption img {
    width: 550px;
  }
}

@media(max-width: 450px) {
  .container {
    width: 375px;
  }

  .sobre-web-design figcaption img {
    width: 400px;
  }
}

@media(max-width: 320px) {
  .container {
    width: 80%;
  }

  .sobre-web-design figcaption img {
    width: 100%;
  }

  header nav {
    background-color: $color-branco;
    width: auto;
    padding: 15px;
    box-shadow: 0px 10px 10px rgba(1, 152, 163, 1);
    border-radius: 10%;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    padding: 5px;
  }
}