.sobre-web-design {
  align-items: center;
  justify-content: space-between;
}

.sobre-web-design article {
  width: 250px;
}

.sobre-web-design article h1{
  font-size: 70px;
  line-height: 90%;
  font-weight: bold;
  color: #333366;
}

.sobre-web-design h2,
.sobre-web-design p {
  color: #3399cc;
}

.sobre-web-design h2{
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 150%;
}

.sobre-web-design p {
  margin: 10px 0 20px 0;
}

.sobre-web-design figcaption img {
  width: 750px;
}