@media (max-width: 2000px) {
  body {
    background-size: 650px;
  }
}

@media (max-width: 1700px) {
  body{
    background-size: 650px;
  }
}

@media(max-width: 1550px) {
  body{
    background-size:650px ;
  }
}

@media(max-width: 1440px) {
  body{
    background-size:650px ;
  }
}

@media(max-width: 1330px) {
  body{
    background-size:650px ;
  }
}

@media(max-width: 1220px) {
  body{
    background-size:650px ;
  }
}
