/* font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* components */
@import "./buttons.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./responsive.css";

/* reset css */
*{
  margin: 0;
  padding: 0;
  border: 0;
  font: 100%;
  font: inherit;
  font-weight: 500;
  font-family: "Source Sans 3", serif;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(../images/bolha-background.png);
  background-repeat: no-repeat;
  background-position-x: -150px;
  background-position-y: -200px;

}

.container {
  width: 1024px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
